body {
    margin: 0;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

html {
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

#asaki-bd-2022 {
    --cover-size: 0px;
    width: 100vw;
    height: 100vh;
    min-width: 360px;
    /*min-height: 500px;*/
    display: block;
}

#asaki-bd-2022.horizontal {
    display: flex;
}

.left {
    width: var(--cover-size);
    height: var(--cover-size);
    /*--min-size: 360px;*/
    /*min-width: var(--min-size);*/
    /*min-height: var(--min-size);*/
    background-image: url("./spots.svg"), url("./bg.jpg");
    background-position: 20px 20px, left top;
    background-size: 41px 81px, auto 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.horizontal .left {
    /*--min-size: 500px;*/
    width: unset;
    max-width: var(--cover-size);
    flex: 1;
}

.cover {
    width: 80%;
    transform: translateY(-8px);
}

.horizontal .cover {
    transform: translateX(-8px);
}

.id {
    position: absolute;
    bottom: 2rem;
    left: 1rem;
    color: white;
    width: 18.87%;
    min-width: 120px;
}

.horizontal .id {
    bottom: 1rem;
}

.right {
    position: relative;
    flex: 1;
    filter: drop-shadow(0px -12px 4px rgba(91, 110, 128, 0.1));
}

.horizontal .right {
    filter: drop-shadow(-12px 0px 4px rgba(91, 110, 128, 0.1));
}

.right:before {
    content: '';
    position: absolute;
    top: -18px;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom, transparent 18px, white 18px), radial-gradient(circle at 16px 18px, white 17px, transparent 18px);
    background-size: 32px 100%;
}

.horizontal .right:before {
    top: 0;
    right: 0;
    bottom: 0;
    left: -18px;
    background: linear-gradient(to right, transparent 18px, white 18px), radial-gradient(circle at 18px 16px, white 17px, transparent 18px);
    background-size: 100% 32px;
}

.right .bg {
    position: absolute;
    top: -16px;
    right: 0;
    bottom: 0;
    left: 0;
    background: repeating-linear-gradient(60deg, #b5dbff, #b5dbff 25px, #c8e4ff 25px, #c8e4ff 50px);
    -webkit-mask-image: linear-gradient(to bottom, transparent 16px, white 16px), radial-gradient(circle at 16px 16px, white 15px, transparent 16px);
    -webkit-mask-size: 32px 100%;
}

.horizontal .right .bg {
    top: 0;
    right: 0;
    bottom: 0;
    left: -16px;
    background: repeating-linear-gradient(60deg, #b5dbff, #b5dbff 25px, #c8e4ff 25px, #c8e4ff 50px);
    -webkit-mask-image: linear-gradient(to right, transparent 16px, white 16px), radial-gradient(circle at 16px 16px, white 15px, transparent 16px);
    -webkit-mask-size: 100% 32px;
}

.right .scroll-box {
    position: relative;
    padding: 48px 5.88% 72px;
    text-align: center;
}

.horizontal .right .scroll-box {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden auto;
}

.right .contents {
    display: inline-block;
    width: 100%;
    max-width: var(--cover-size);
}

.right .contents img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.track-list {
    width: 64.71%;
}

.track-list-ja {
    width: 28.24%;
    margin-top: -3px;
    /* Tested in horizontal when height is 500px */
    min-width: 125px;
    filter: drop-shadow(0 0 2px white) drop-shadow(0 0 4px white) drop-shadow(0 0 5px white);
}

.m1, .m2, .m3, .m4 {
    width: 100%;
    margin-top: calc(var(--cover-size) * 0.05);
}

.time, .place {
    width: 56.47%;
    margin-top: calc(var(--cover-size) * 0.04);
    min-width: 250px;
}

.place {
    margin-top: calc(var(--cover-size) * 0.03);
}

.fiction {
    width: 74.11%;
    margin-top: calc(var(--cover-size) * 0.04);
    min-width: 250px;
}

.link-box {
    margin-left: auto;
    margin-right: auto;
    margin-top: calc(var(--cover-size) * 0.05);
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: calc(var(--cover-size) * 0.04) calc(var(--cover-size) * 0.06);
}

.link {
    font-size: 0;
}

.link + .link {
    /*margin-left: calc(var(--cover-size) * 0.09);*/
}

.link .thumbnail {
    position: relative;
}

.link .thumbnail .shadow {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 12px;
    overflow: hidden;
    transform: translate(3px, 3px);
    background: radial-gradient(circle farthest-corner at top, white 50%, transparent 50%) no-repeat top;
    background-size: 0% 0%;
    transition: background-size 0.3s;
}

.link:hover .thumbnail .shadow {
    background-size: 200% 200%;
}

.link .thumbnail img {
    border-radius: 12px;
    overflow: hidden;
    height: calc(var(--cover-size) * 0.18);
    transform: translate(-3px, -3px);
}

.link .label {
    display: inline-block;
    position: relative;
    margin-top: calc(var(--cover-size) * 0.025);
    padding-bottom: 4px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -1 20 6'%3E%3Cpath fill='none' stroke='%23fff' stroke-width='2.4' d='M0 3.5c5 0 5-3 10-3s5 3 10 3 5-3 10-3 5 3 10 3'/%3E%3C/svg%3E") repeat-x 0;
    background-size: 12px auto;
    background-position-y: 120%;
    animation: waveMove 1s infinite linear;
    transition: background-position-y 0.3s ease-out;
}

@keyframes waveMove {
    from {
        background-position-x: 0;
    }
    to {
        background-position-x: -12px;
    }
}

.link:hover .label {
    background-position-y: 100%;
    transition-timing-function: ease-in;
}

.link .label:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100%;
    transform: translateX(calc(-100% - 6px));
    background: url("./drum.svg") no-repeat right top/auto 65%;
    opacity: 0;
    transition: opacity 0.3s ease-out;
}

.link:hover .label:before {
    opacity: 1;
    transition-timing-function: ease-in;
}

.link .label:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 100%;
    transform: translateX(calc(100% + 6px));
    background: url("./drum.svg") no-repeat left top/auto 65%;
    opacity: 0;
    transition: opacity 0.3s ease-out;
}

.link:hover .label:after {
    opacity: 1;
    transition-timing-function: ease-in;
}

.link .label img {
    height: calc(var(--cover-size) * 0.03);
    min-height: 20px;
}
