html {
  font-size: 16px;
}

body {
  font-size: 4rem;
  line-height: 1;
  font-weight: bold;
  letter-spacing: 0.35rem;
  font-family: Tsuku, serif;
}

*, *:before, *:after {
  --red: #ffcbcb;
  --blue: #7edcf2;
  --yellow: #eddd6e;
  --green: #aae995;
  --purple: #cbb4d8;
  --white: #ffffff;
  --black: #000000;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Tsuku';
  font-weight: bold;
  src: url('r/tsuku_b.woff2') format('woff2');
}

@font-face {
  font-family: 'Tsuku';
  font-weight: normal;
  src: url('r/tsuku_r.woff2') format('woff2');
}

@font-face {
  font-family: 'Tsubame';
  src: url('r/tsubame.woff2') format('woff2');
}

@font-face {
  font-family: 'Lyra';
  src: url('r/lyra.woff2') format('woff2');
}

@font-face {
  font-family: 'Bahnschrift';
  src: url('r/bahnschrift.woff2') format('woff2');
}

@font-face {
  font-family: 'Yuruka';
  src: url('r/yuruka.woff2') format('woff2');
}
